.list{
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}
.card{
    border-radius: 15px;
    width: 250px;
    height: 260px;
    background: khaki;
    border: 1px solid gray;
    &_name{
        font-size: 20px;
        text-align: center;
    }
}
.span{
    color: rgb(56, 50, 163);
    font-size: 15px;
    font-weight: 600;
}